<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laoliu.cas.appointment.infrastructure.persistence.mapper.ServiceMapper">

    <resultMap id="BaseResultMap" type="com.laoliu.cas.appointment.infrastructure.persistence.dataobject.ServicesDO">
        <id property="serviceId" column="service_id"/>
        <result property="serviceName" column="service_name"/>
        <result property="serviceDescribe" column="service_describe"/>
        <result property="serviceState" column="service_state"/>
    </resultMap>

    <sql id="Base_Column_List">
        service_id,service_name,service_describe,service_state
    </sql>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT service_id,service_name,service_describe,service_state FROM services
    </select>

</mapper>
