<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laoliu.system.mapper.ServiceMapper">

    <resultMap id="BaseResultMap" type="com.laoliu.system.entity.Service">
            <id property="serviceId" column="service_id" />
            <result property="serviceName" column="service_name" />
            <result property="serviceDescribe" column="service_describe" />
            <result property="serviceState" column="service_state" />
    </resultMap>

    <sql id="Base_Column_List">
        service_id,service_name,service_describe,service_state
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from service
        where  service_id = #{serviceId} 
    </select>

    <resultMap id="MyServiceResult" type="com.laoliu.system.entity.Service">
        <id property="serviceId" column="service_id" />
        <result property="serviceName" column="service_name" />
        <result property="serviceDescribe" column="service_describe" />
        <result property="serviceState" column="service_state" />
    </resultMap>
    <select id="selectAll" resultMap="MyServiceResult" >
        select service_id,service_name,service_describe,service_state from service
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from service
        where  service_id = #{serviceId} 
    </delete>
    <insert id="insert" keyColumn="service_id" keyProperty="serviceId" parameterType="com.laoliu.system.entity.Service" useGeneratedKeys="true">
        insert into service
        ( service_id,service_name,service_describe,service_state)
        values (#{serviceId},#{serviceName},#{serviceDescribe},#{serviceState})
    </insert>

    <insert id="insertSelective" keyColumn="service_id" keyProperty="serviceId" parameterType="com.laoliu.system.entity.Service" useGeneratedKeys="true">
        insert into service
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="serviceId != null">service_id,</if>
                <if test="serviceName != null">service_name,</if>
                <if test="serviceDescribe != null">service_describe,</if>
                <if test="serviceState != null">service_state,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="serviceId != null">#{serviceId},</if>
                <if test="serviceName != null">#{serviceName},</if>
                <if test="serviceDescribe != null">#{serviceDescribe},</if>
                <if test="serviceState != null">#{serviceState},</if>
        </trim>
    </insert>


    <update id="updateByPrimaryKeySelective" parameterType="com.laoliu.system.entity.Service">
        update service
        <set>
                <if test="serviceName != null">
                    service_name = #{serviceName},
                </if>
                <if test="serviceDescribe != null">
                    service_describe = #{serviceDescribe},
                </if>
                <if test="serviceState != null">
                    service_state = #{serviceState},
                </if>
        </set>
        where   service_id = #{serviceId} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.laoliu.system.entity.Service">
        update service
        set 
            service_name =  #{serviceName},
            service_describe =  #{serviceDescribe},
            service_state =  #{serviceState}
        where   service_id = #{serviceId} 
    </update>
</mapper>
